./*.idea
.idea
./.idea
.gradle/6.7/executionHistory/executionHistory.lock
.gradle/6.7/fileChanges/last-build.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/6.7/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/checksums/checksums.lock
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
.idea/misc.xml
.idea/workspace.xml
tetris/.gradle/6.7/executionHistory/executionHistory.bin
tetris/.gradle/6.7/executionHistory/executionHistory.lock
tetris/.gradle/6.7/fileChanges/last-build.bin
tetris/.gradle/6.7/fileHashes/fileHashes.bin
tetris/.gradle/6.7/fileHashes/fileHashes.lock
tetris/.gradle/6.7/fileHashes/resourceHashesCache.bin
tetris/.gradle/6.7/gc.properties
tetris/.gradle/6.7/javaCompile/classAnalysis.bin
tetris/.gradle/6.7/javaCompile/jarAnalysis.bin
tetris/.gradle/6.7/javaCompile/javaCompile.lock
tetris/.gradle/6.7/javaCompile/taskHistory.bin
tetris/.gradle/buildOutputCleanup/buildOutputCleanup.lock
tetris/.gradle/buildOutputCleanup/cache.properties
tetris/.gradle/buildOutputCleanup/outputFiles.bin
tetris/.gradle/checksums/checksums.lock
tetris/.gradle/configuration-cache/gc.properties
tetris/.gradle/vcs-1/gc.properties
tetris/.idea/compiler.xml
tetris/.idea/gradle.xml
tetris/.idea/jarRepositories.xml
tetris/.idea/misc.xml
tetris/.idea/modules/tetris.iml
tetris/.idea/vcs.xml
tetris/build/classes/java/main/Application.class
tetris/build/classes/java/main/Board.class
tetris/build/classes/java/main/Tetris.class
tetris/build/classes/java/test/TestBoard.class
tetris/build/reports/tests/test/classes/TestBoard.html
tetris/build/reports/tests/test/css/base-style.css
tetris/build/reports/tests/test/css/style.css
tetris/build/reports/tests/test/index.html
tetris/build/reports/tests/test/js/report.js
tetris/build/reports/tests/test/packages/default-package.html
tetris/build/test-results/test/binary/output.bin
tetris/build/test-results/test/TEST-TestBoard.xml
tetris/build/tmp/compileJava/source-classes-mapping.txt
tetris/build/tmp/compileTestJava/source-classes-mapping.txt
tetris/gradle/wrapper/gradle-wrapper.jar
tetris/gradle/wrapper/gradle-wrapper.properties
tetris/build/test-results/test/binary/results.bin
tetris/build/test-results/test/binary/output.bin.idx
